---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About me | Brendan  Rae">
	<main>
		<h1>About me page coming soon!</h1>
	</main>
</MainLayout>

<style>
	h1 {
		text-align: center;
	}
</style>