---
import MainLayout from '../layouts/MainLayout.astro';
import NavHeader from '../components/NavHeader.astro';
---

<MainLayout title="About me | Brendan  Rae">
	<NavHeader />
	<main>
		<h1>About Works!</h1>
	</main>
</MainLayout>