---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="About me | Brendan  Rae">
	<main>
		<div class="content-container">
			<img src="/profile_picture.webp" alt="Brendan Rae profile picture" class="profile-img">
			<div class="text-container">
				<h1>Welcome to <span class="text-gradient">my website!</span></h1>
				<p>
					I'm a software engineer with over 2 years of professional experience and am passionate about 
				 	innovating user experiences through the software I develop. I specialize in full stack development
					and love all aspects of the development experience: design, end-to-end development, testing, and maintenance. 
					I'm constantly focused on self-improvement, both in software development and my personal life.
				</p>
			</div>
		</div>
		<div class="content-container centered">
			<div class="text-container centered">
				<h1><span class="text-gradient">Technologies</span> I have experience with</h1>
				<div class="svg-container">
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128" aria-hidden="true" focusable="false"><path fill="currentColor" d="m117.5 33.5l.3-.2c-.6-1.1-1.5-2.1-2.4-2.6L67.1 2.9c-.8-.5-1.9-.7-3.1-.7c-1.2 0-2.3.3-3.1.7l-48 27.9c-1.7 1-2.9 3.5-2.9 5.4v55.7c0 1.1.2 2.3.9 3.4l-.2.1c.5.8 1.2 1.5 1.9 1.9l48.2 27.9c.8.5 1.9.7 3.1.7c1.2 0 2.3-.3 3.1-.7l48-27.9c1.7-1 2.9-3.5 2.9-5.4V36.1c.1-.8 0-1.7-.4-2.6zm-53.5 70c-21.8 0-39.5-17.7-39.5-39.5S42.2 24.5 64 24.5c14.7 0 27.5 8.1 34.3 20l-13 7.5C81.1 44.5 73.1 39.5 64 39.5c-13.5 0-24.5 11-24.5 24.5s11 24.5 24.5 24.5c9.1 0 17.1-5 21.3-12.4l12.9 7.6c-6.8 11.8-19.6 19.8-34.2 19.8zM115 62h-3.2l-.9 4h4.1v5h-5l-1.2 6h-4.9l1.2-6h-3.8l-1.2 6h-4.8l1.2-6H94v-5h3.5l.9-4H94v-5h5.3l1.2-6h4.9l-1.2 6h3.8l1.2-6h4.8l-1.2 6h2.2v5zm-12.7 4h3.8l.9-4h-3.8z"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><g fill="none"><g clip-path="url(#akarIconsTypescriptFill0)"><path fill="currentColor" d="M23.429 0H.57A.571.571 0 0 0 0 .571V23.43a.57.57 0 0 0 .571.571H23.43a.571.571 0 0 0 .571-.571V.57a.571.571 0 0 0-.572-.57Zm-9.143 12.826h-2.857v8.888H9.143v-8.888H6.286v-1.969h8v1.969Zm.64 8.38v-2.375s1.298.978 2.855.978s1.497-1.018 1.497-1.158c0-1.477-4.412-1.477-4.412-4.751c0-4.452 6.429-2.695 6.429-2.695l-.08 2.116s-1.078-.719-2.296-.719c-1.218 0-1.657.58-1.657 1.198c0 1.597 4.452 1.438 4.452 4.652c0 4.95-6.788 2.755-6.788 2.755Z"/></g><defs><clipPath id="akarIconsTypescriptFill0"><path fill="#fff" d="M0 0h24v24H0z"/></clipPath></defs></g></svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 16 16" aria-hidden="true" focusable="false"><path fill="currentColor" d="M.946 0L2.23 14.4L7.992 16l5.777-1.602L15.055 0H.947zm11.722 13.482l-4.644 1.287v.007l-.012-.004l-.012.004v-.007l-4.644-1.287L2.258 1.178h11.508l-1.098 12.304zm-2.5-5.198l-.204 2.29l-1.972.532l-1.967-.53l-.126-1.41H4.126l.247 2.774l3.626 1.003l3.615-1.003l.485-5.422H5.662l-.161-1.809h6.758l.158-1.766H3.57l.477 5.341z"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path fill="currentColor" d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6zM9.446 17.412c.275 0 .581-.061.762-.132l.138.713c-.168.084-.546.174-1.037.174c-1.397 0-2.117-.869-2.117-2.021C7.191 14.768 8.175 14 9.398 14c.474 0 .833.096.995.18l-.186.726a1.98 1.98 0 0 0-.768-.149c-.726 0-1.29.438-1.29 1.337c.001.808.482 1.318 1.297 1.318zm2.491.755c-.461 0-.917-.119-1.145-.245l.186-.756c.246.126.624.252 1.014.252c.42 0 .642-.174.642-.438c0-.252-.192-.396-.678-.57c-.672-.234-1.109-.605-1.109-1.193c0-.689.575-1.217 1.529-1.217c.455 0 .791.096 1.031.203l-.204.738a1.919 1.919 0 0 0-.846-.192c-.396 0-.587.181-.587.39c0 .258.228.372.749.57c.714.264 1.05.636 1.05 1.205c-.001.678-.523 1.253-1.632 1.253zm3.24 0c-.461 0-.917-.119-1.145-.245l.186-.756c.246.126.624.252 1.014.252c.42 0 .642-.174.642-.438c0-.252-.192-.396-.678-.57c-.672-.234-1.109-.605-1.109-1.193c0-.689.575-1.217 1.529-1.217c.455 0 .791.096 1.031.203l-.204.738a1.919 1.919 0 0 0-.846-.192c-.396 0-.587.181-.587.39c0 .258.228.372.749.57c.714.264 1.05.636 1.05 1.205c0 .678-.523 1.253-1.632 1.253zM14 9h-1V4l5 5h-4z"/></svg>	
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 15 15" aria-hidden="true" focusable="false"><path fill="currentColor" d="M7.5 4.247L9.142 8H5.858L7.5 4.247Z"/><path fill="currentColor" fill-rule="evenodd" d="M7.363.02a.5.5 0 0 1 .274 0l7 2a.5.5 0 0 1 .36.535l-1 9a.5.5 0 0 1-.273.392l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.273-.392l-1-9a.5.5 0 0 1 .36-.536l7-2ZM7.5 1.752l3.958 9.047l-.916.4L9.579 9H5.421l-.963 2.2l-.916-.4L7.5 1.753Z" clip-rule="evenodd"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path fill="currentColor" d="M8.358 20.162c-1.186-1.07-1.532-3.316-1.038-4.944c.856 1.026 2.043 1.352 3.272 1.535c1.897.283 3.76.177 5.522-.678c.202-.098.388-.229.608-.36c.166.473.209.95.151 1.437c-.14 1.185-.738 2.1-1.688 2.794c-.38.277-.782.525-1.175.787c-1.205.804-1.531 1.747-1.078 3.119l.044.148a3.158 3.158 0 0 1-1.407-1.188a3.31 3.31 0 0 1-.544-1.815c-.004-.32-.004-.642-.048-.958c-.106-.769-.472-1.113-1.161-1.133c-.707-.02-1.267.411-1.415 1.09c-.012.053-.028.104-.045.165h.002zm-5.961-4.445s3.24-1.575 6.49-1.575l2.451-7.565c.092-.366.36-.614.662-.614c.302 0 .57.248.662.614l2.45 7.565c3.85 0 6.491 1.575 6.491 1.575L16.088.727C15.93.285 15.663 0 15.303 0H8.697c-.36 0-.615.285-.784.727l-5.516 14.99z"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path fill="currentColor" d="m22.922 7.027l-.103-.23l-.169.188c-.408.464-.928.82-1.505 1.036l-.159.061l.066.155a9.745 9.745 0 0 1 .75 3.759c0 5.405-4.397 9.806-9.806 9.806c-5.409 0-9.802-4.397-9.802-9.802c0-5.405 4.402-9.806 9.806-9.806c1.467 0 2.883.319 4.2.947l.155.075l.066-.155a3.767 3.767 0 0 1 1.106-1.453l.197-.159l-.225-.117A11.905 11.905 0 0 0 12.001.001c-6.619 0-12 5.381-12 12s5.381 12 12 12s12-5.381 12-12c0-1.73-.361-3.403-1.078-4.973zM12 6.53A5.476 5.476 0 0 0 6.53 12A5.476 5.476 0 0 0 12 17.47A5.476 5.476 0 0 0 17.47 12A5.479 5.479 0 0 0 12 6.53zm10.345-2.007a2.494 2.494 0 1 1-4.988 0a2.494 2.494 0 0 1 4.988 0z"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path fill="currentColor" d="M12 10.11c1.03 0 1.87.84 1.87 1.89c0 1-.84 1.85-1.87 1.85c-1.03 0-1.87-.85-1.87-1.85c0-1.05.84-1.89 1.87-1.89M7.37 20c.63.38 2.01-.2 3.6-1.7c-.52-.59-1.03-1.23-1.51-1.9a22.7 22.7 0 0 1-2.4-.36c-.51 2.14-.32 3.61.31 3.96m.71-5.74l-.29-.51c-.11.29-.22.58-.29.86c.27.06.57.11.88.16l-.3-.51m6.54-.76l.81-1.5l-.81-1.5c-.3-.53-.62-1-.91-1.47C13.17 9 12.6 9 12 9c-.6 0-1.17 0-1.71.03c-.29.47-.61.94-.91 1.47L8.57 12l.81 1.5c.3.53.62 1 .91 1.47c.54.03 1.11.03 1.71.03c.6 0 1.17 0 1.71-.03c.29-.47.61-.94.91-1.47M12 6.78c-.19.22-.39.45-.59.72h1.18c-.2-.27-.4-.5-.59-.72m0 10.44c.19-.22.39-.45.59-.72h-1.18c.2.27.4.5.59.72M16.62 4c-.62-.38-2 .2-3.59 1.7c.52.59 1.03 1.23 1.51 1.9c.82.08 1.63.2 2.4.36c.51-2.14.32-3.61-.32-3.96m-.7 5.74l.29.51c.11-.29.22-.58.29-.86c-.27-.06-.57-.11-.88-.16l.3.51m1.45-7.05c1.47.84 1.63 3.05 1.01 5.63c2.54.75 4.37 1.99 4.37 3.68c0 1.69-1.83 2.93-4.37 3.68c.62 2.58.46 4.79-1.01 5.63c-1.46.84-3.45-.12-5.37-1.95c-1.92 1.83-3.91 2.79-5.38 1.95c-1.46-.84-1.62-3.05-1-5.63c-2.54-.75-4.37-1.99-4.37-3.68c0-1.69 1.83-2.93 4.37-3.68c-.62-2.58-.46-4.79 1-5.63c1.47-.84 3.46.12 5.38 1.95c1.92-1.83 3.91-2.79 5.37-1.95M17.08 12c.34.75.64 1.5.89 2.26c2.1-.63 3.28-1.53 3.28-2.26c0-.73-1.18-1.63-3.28-2.26c-.25.76-.55 1.51-.89 2.26M6.92 12c-.34-.75-.64-1.5-.89-2.26c-2.1.63-3.28 1.53-3.28 2.26c0 .73 1.18 1.63 3.28 2.26c.25-.76.55-1.51.89-2.26m9 2.26l-.3.51c.31-.05.61-.1.88-.16c-.07-.28-.18-.57-.29-.86l-.29.51m-2.89 4.04c1.59 1.5 2.97 2.08 3.59 1.7c.64-.35.83-1.82.32-3.96c-.77.16-1.58.28-2.4.36c-.48.67-.99 1.31-1.51 1.9M8.08 9.74l.3-.51c-.31.05-.61.1-.88.16c.07.28.18.57.29.86l.29-.51m2.89-4.04C9.38 4.2 8 3.62 7.37 4c-.63.35-.82 1.82-.31 3.96a22.7 22.7 0 0 1 2.4-.36c.48-.67.99-1.31 1.51-1.9Z"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path fill="currentColor" d="M16.805 1a9.85 9.85 0 0 0-2.603.37l-.06.018a10.629 10.629 0 0 0-1.615-.151c-1.113-.019-2.07.243-2.84.68c-.76-.256-2.336-.697-3.997-.609c-1.157.061-2.419.402-3.354 1.36c-.933.958-1.426 2.44-1.322 4.457c.028.557.191 1.464.463 2.64c.27 1.175.652 2.55 1.127 3.805c.475 1.256.996 2.384 1.81 3.15c.406.384.965.707 1.624.68c.463-.018.882-.215 1.243-.506c.176.225.364.323.535.414c.215.114.425.192.642.244a4.61 4.61 0 0 0 1.84.091c.267-.043.548-.127.828-.247c.01.302.022.598.035.898c.038.95.063 1.827.357 2.596c.047.126.176.773.687 1.344c.51.572 1.51.928 2.648.692c.803-.167 1.825-.468 2.503-1.404c.67-.926.973-2.255 1.033-4.409c.015-.116.033-.215.052-.308l.16.014h.018c.857.038 1.787-.08 2.564-.43c.688-.31 1.208-.622 1.587-1.177c.095-.137.199-.303.227-.59c.028-.285-.14-.733-.421-.939c-.563-.414-.916-.257-1.295-.18c-.373.08-.753.124-1.136.133c1.093-1.784 1.876-3.68 2.323-5.358c.264-.99.413-1.903.425-2.701c.012-.798-.055-1.505-.548-2.117c-1.541-1.91-3.708-2.438-5.384-2.456c-.052-.001-.104-.002-.156-.001V1Zm-.044.587c1.585-.015 3.611.417 5.065 2.22c.327.405.424.997.413 1.727c-.012.729-.151 1.601-.405 2.557c-.493 1.852-1.425 4.01-2.738 5.948a.724.724 0 0 0 .15.079c.274.11.898.204 2.145-.044c.313-.065.543-.108.781.068a.478.478 0 0 1 .173.39a.635.635 0 0 1-.123.308c-.24.351-.716.684-1.326.958c-.539.244-1.313.371-1.999.379c-.344.003-.661-.023-.93-.104l-.018-.006c-.104.971-.343 2.89-.498 3.765c-.125.706-.343 1.267-.76 1.687c-.416.42-1.004.673-1.796.838c-.981.204-1.696-.016-2.157-.393c-.46-.375-.671-.874-.798-1.18c-.087-.21-.132-.483-.176-.848a18.073 18.073 0 0 1-.097-1.315a45.725 45.725 0 0 1-.028-2.313c-.41.364-.92.606-1.467.697c-.65.107-1.232.002-1.579-.082a2.19 2.19 0 0 1-.49-.185c-.162-.083-.315-.177-.417-.363a.5.5 0 0 1-.054-.35a.559.559 0 0 1 .206-.303c.188-.148.435-.23.808-.306c.68-.135.917-.228 1.061-.339c.123-.095.262-.287.508-.57a1.166 1.166 0 0 1-.003-.037a2.864 2.864 0 0 1-1.257-.329c-.141.145-.865.888-1.748 1.918c-.371.431-.781.678-1.214.696c-.433.018-.824-.194-1.156-.506c-.665-.626-1.195-1.703-1.657-2.92c-.46-1.218-.836-2.574-1.102-3.729c-.268-1.155-.426-2.086-.448-2.535c-.1-1.909.36-3.195 1.15-4.006c.79-.811 1.872-1.118 2.928-1.177c1.894-.106 3.693.535 4.057.673c.701-.462 1.604-.75 2.733-.732a7.185 7.185 0 0 1 1.588.2l.019-.008c.229-.078.462-.144.698-.196a9.362 9.362 0 0 1 1.957-.23v-.002Zm.143.614h-.137a8.502 8.502 0 0 0-1.61.176a7.048 7.048 0 0 1 2.692 2.062a7.72 7.72 0 0 1 1.07 1.76c.104.242.174.447.213.605c.02.08.034.147.038.217a.392.392 0 0 1-.011.132l-.006.012c.029.803-.176 1.347-.201 2.113c-.019.556.127 1.209.163 1.92c.034.67-.049 1.405-.497 2.127c.038.044.072.088.108.132c1.185-1.81 2.04-3.814 2.495-5.521c.243-.92.373-1.753.384-2.413c.01-.66-.117-1.139-.279-1.338c-1.268-1.573-2.983-1.974-4.422-1.985Zm-4.525.235c-1.117.002-1.919.33-2.526.82c-.627.507-1.047 1.2-1.323 1.911a7.898 7.898 0 0 0-.485 2.213l.013-.007c.337-.184.78-.367 1.254-.473c.475-.106.986-.139 1.449.035c.463.175.846.584.985 1.206c.665 2.986-.207 4.096-.529 4.933a8.628 8.628 0 0 0-.313.929c.041-.01.082-.02.122-.024a1.06 1.06 0 0 1 .51.1c.324.13.546.402.666.714c.031.082.054.17.067.26c.014.038.02.077.019.117a49.059 49.059 0 0 0 .012 3.426c.022.494.054.928.095 1.271c.04.342.098.602.135.69c.12.294.297.678.617.939c.32.26.777.434 1.614.26c.726-.151 1.174-.36 1.474-.663c.298-.301.477-.72.591-1.363c.171-.963.515-3.754.556-4.28c-.018-.395.042-.7.172-.932c.135-.238.343-.384.522-.463c.09-.04.174-.066.243-.085a5.487 5.487 0 0 0-.23-.298a4.065 4.065 0 0 1-.629-1.007a7.578 7.578 0 0 0-.243-.443c-.125-.22-.284-.495-.45-.804c-.333-.619-.695-1.369-.883-2.1c-.187-.729-.215-1.484.265-2.017c.426-.473 1.172-.669 2.293-.559c-.033-.096-.053-.176-.109-.304a7.125 7.125 0 0 0-.983-1.617c-.95-1.178-2.487-2.346-4.863-2.384h-.108v-.001Zm-6.276.047c-.12 0-.24.004-.36.01c-.954.053-1.856.322-2.501.986c-.647.663-1.072 1.751-.98 3.553c.019.34.172 1.296.434 2.43c.262 1.136.634 2.471 1.08 3.65c.446 1.18.988 2.207 1.502 2.693c.259.243.484.341.688.333c.205-.01.451-.124.753-.475a40.03 40.03 0 0 1 1.71-1.877a3.206 3.206 0 0 1-.932-1.307a3.116 3.116 0 0 1-.17-1.58c.097-.678.11-1.312.099-1.812c-.012-.488-.048-.812-.048-1.015v-.028a8.806 8.806 0 0 1 .559-3.095c.264-.682.658-1.375 1.249-1.936c-.58-.185-1.61-.467-2.725-.52a7.4 7.4 0 0 0-.36-.01h.002Zm11.714 4.842c-.641.008-1.001.169-1.19.379c-.268.298-.293.82-.127 1.464c.165.644.507 1.365.829 1.963c.16.3.316.57.442.788c.127.22.22.376.276.51c.052.122.11.23.168.331c.248-.509.293-1.008.267-1.529c-.033-.644-.187-1.303-.164-1.97c.025-.78.184-1.289.198-1.892a5.639 5.639 0 0 0-.699-.044Zm-7.78.105a2.743 2.743 0 0 0-.582.068a4.49 4.49 0 0 0-1.09.412c-.115.06-.226.13-.33.209l-.02.018c.006.134.033.459.045.936c.01.523-.002 1.19-.106 1.91c-.226 1.568.946 2.866 2.324 2.868c.08-.322.213-.648.345-.992c.384-1.003 1.139-1.734.503-4.589c-.104-.467-.31-.656-.594-.763a1.431 1.431 0 0 0-.495-.077Zm7.48.187h.048c.062.002.12.009.17.02a.396.396 0 0 1 .13.051a.153.153 0 0 1 .071.1v.008a.215.215 0 0 1-.034.124a.614.614 0 0 1-.104.137a.646.646 0 0 1-.364.195a.57.57 0 0 1-.388-.095a.569.569 0 0 1-.123-.108a.235.235 0 0 1-.06-.116a.151.151 0 0 1 .04-.118a.361.361 0 0 1 .111-.082a1.256 1.256 0 0 1 .504-.118v.002Zm-7.388.154c.05 0 .103.005.157.012c.144.02.273.057.371.112c.048.025.09.057.126.097a.214.214 0 0 1 .042.073a.195.195 0 0 1 .009.083a.274.274 0 0 1-.071.141a.608.608 0 0 1-.135.12a.619.619 0 0 1-.424.103a.694.694 0 0 1-.396-.209a.652.652 0 0 1-.112-.15a.25.25 0 0 1-.039-.162c.014-.1.099-.15.18-.18a.842.842 0 0 1 .29-.036l.002-.004Zm8.56 6.732h-.003c-.139.05-.253.07-.35.11a.423.423 0 0 0-.225.197c-.06.105-.11.292-.095.61a.49.49 0 0 0 .14.064c.161.048.432.08.735.075c.602-.007 1.344-.143 1.738-.321c.323-.146.623-.336.891-.564c-1.317.264-2.06.194-2.517.011a1.247 1.247 0 0 1-.314-.183Zm-7.588.086h-.02c-.05.004-.123.02-.263.172c-.33.358-.444.582-.716.792c-.27.21-.623.321-1.327.461c-.223.044-.35.093-.436.132c.028.022.025.028.066.049c.103.055.236.103.342.13c.303.073.8.159 1.319.073c.518-.086 1.058-.327 1.518-.953c.08-.108.088-.268.023-.44c-.067-.17-.211-.318-.313-.36a.632.632 0 0 0-.193-.054v-.002Z"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 16 16" aria-hidden="true" focusable="false"><path fill="currentColor" fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM0 14.841a1.129 1.129 0 0 0 .401.823c.13.108.288.192.478.252s.411.091.665.091c.338 0 .624-.053.858-.158c.237-.106.416-.252.54-.44a1.17 1.17 0 0 0 .187-.656c0-.224-.045-.41-.135-.56a1 1 0 0 0-.375-.357a2.027 2.027 0 0 0-.565-.21l-.621-.144a.97.97 0 0 1-.405-.176a.369.369 0 0 1-.143-.299c0-.156.061-.284.184-.384c.125-.101.296-.152.513-.152c.143 0 .266.022.37.068a.624.624 0 0 1 .245.181a.56.56 0 0 1 .12.258h.75a1.092 1.092 0 0 0-.199-.566a1.21 1.21 0 0 0-.5-.41a1.813 1.813 0 0 0-.78-.152c-.293 0-.552.05-.776.15c-.225.099-.4.24-.528.421c-.127.182-.19.395-.19.639c0 .201.04.376.123.524c.082.149.199.27.351.367c.153.095.332.167.54.213l.618.144c.207.049.36.113.462.193a.387.387 0 0 1 .153.325c0 .11-.029.207-.085.29A.558.558 0 0 1 2 15.31c-.111.047-.249.07-.413.07c-.117 0-.224-.013-.32-.04a.835.835 0 0 1-.248-.115a.579.579 0 0 1-.255-.384H0Zm6.878 1.489l-.507-.739c.176-.162.31-.362.401-.6c.092-.239.138-.507.138-.806v-.501c0-.371-.07-.693-.208-.967a1.495 1.495 0 0 0-.589-.636c-.256-.15-.561-.225-.917-.225c-.351 0-.656.075-.914.225c-.256.149-.453.36-.592.636a2.138 2.138 0 0 0-.205.967v.5c0 .37.069.691.205.965c.139.273.336.485.592.636a1.8 1.8 0 0 0 .914.222a1.8 1.8 0 0 0 .6-.1l.294.422h.788ZM4.262 14.2v-.522c0-.246.038-.456.114-.63a.91.91 0 0 1 .325-.398a.885.885 0 0 1 .495-.138c.192 0 .357.046.495.138a.88.88 0 0 1 .325.398c.077.174.115.384.115.63v.522c0 .164-.018.312-.053.445c-.035.13-.087.244-.155.34l-.106-.14l-.105-.147h-.733l.451.65a.638.638 0 0 1-.251.047a.872.872 0 0 1-.487-.147a.916.916 0 0 1-.32-.404a1.67 1.67 0 0 1-.11-.644Zm3.986 1.057h1.696v.674H7.457v-3.999h.79v3.325Z"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 16 16" aria-hidden="true" focusable="false"><path fill="currentColor" d="M15.698 7.287L8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45l1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025a1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.031 1.031 0 0 0 0-1.457"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path fill="currentColor" d="m23.835 11.703l-1.008-.623a13.727 13.727 0 0 0-.028-.294l.866-.807a.348.348 0 0 0-.116-.578l-1.106-.414a8.496 8.496 0 0 0-.087-.285l.69-.96a.346.346 0 0 0-.226-.544l-1.166-.19a9.357 9.357 0 0 0-.14-.261l.49-1.076a.344.344 0 0 0-.028-.336a.349.349 0 0 0-.3-.154l-1.185.041a6.744 6.744 0 0 0-.188-.227l.273-1.153a.347.347 0 0 0-.417-.417l-1.153.273a14.018 14.018 0 0 0-.228-.188l.041-1.184a.344.344 0 0 0-.49-.328l-1.076.49l-.262-.14l-.19-1.167a.348.348 0 0 0-.545-.226l-.96.69a8.487 8.487 0 0 0-.285-.086L14.597.453a.348.348 0 0 0-.578-.116l-.807.867a9.294 9.294 0 0 0-.294-.028L12.295.168a.346.346 0 0 0-.59 0l-.623 1.008a13.738 13.738 0 0 0-.294.028L9.98.337a.346.346 0 0 0-.578.116l-.414 1.106l-.285.086l-.959-.69a.348.348 0 0 0-.545.226l-.19 1.167a9.357 9.357 0 0 0-.262.14l-1.076-.49a.346.346 0 0 0-.49.328l.041 1.184a7.983 7.983 0 0 0-.228.187l-1.153-.272a.347.347 0 0 0-.417.417l.271 1.153l-.186.227l-1.184-.042a.346.346 0 0 0-.328.49l.49 1.077a9.167 9.167 0 0 0-.14.262l-1.166.19a.348.348 0 0 0-.226.544l.69.958a13.303 13.303 0 0 0-.087.286l-1.106.414a.348.348 0 0 0-.116.578l.866.807a9.294 9.294 0 0 0-.028.294l-1.008.623a.344.344 0 0 0 0 .59l1.008.623c.008.098.018.196.028.294l-.866.807a.346.346 0 0 0 .116.578l1.106.415c.028.096.057.191.087.285l-.69.959a.345.345 0 0 0 .227.544l1.166.19c.046.088.092.175.14.262l-.49 1.076a.346.346 0 0 0 .328.49l1.183-.041c.062.077.124.152.187.227l-.27 1.154a.346.346 0 0 0 .416.417l1.153-.272c.075.064.151.126.228.187l-.041 1.184a.344.344 0 0 0 .49.327l1.076-.49c.087.049.174.095.262.14l.19 1.167a.348.348 0 0 0 .545.227l.959-.69a9.299 9.299 0 0 0 .285.086l.414 1.107a.345.345 0 0 0 .578.115l.808-.865l.294.03l.623 1.006a.347.347 0 0 0 .59 0l.623-1.007c.098-.009.197-.018.294-.03l.807.866a.348.348 0 0 0 .578-.115l.414-1.107a8.463 8.463 0 0 0 .285-.087l.959.69a.345.345 0 0 0 .545-.226l.19-1.166l.262-.14l1.076.49a.347.347 0 0 0 .49-.328l-.041-1.184a6.727 6.727 0 0 0 .227-.187l1.153.272a.347.347 0 0 0 .417-.416l-.272-1.155c.063-.075.126-.15.187-.227l1.184.041a.344.344 0 0 0 .328-.49l-.49-1.076c.048-.087.095-.174.141-.262l1.166-.19a.348.348 0 0 0 .226-.544l-.69-.959l.087-.285l1.106-.414a.346.346 0 0 0 .116-.579l-.866-.807c.01-.098.02-.196.028-.294l1.008-.624a.344.344 0 0 0 0-.589zm-6.742 8.355a.714.714 0 0 1 .299-1.396a.714.714 0 1 1-.3 1.396zm-.342-2.314a.649.649 0 0 0-.771.5l-.358 1.669a8.73 8.73 0 0 1-3.619.78a8.737 8.737 0 0 1-3.695-.815L7.95 18.21a.648.648 0 0 0-.772-.5l-1.473.317a8.722 8.722 0 0 1-.761-.898h7.167c.081 0 .136-.014.136-.088v-2.536c0-.074-.054-.088-.136-.088h-2.096v-1.608h2.268c.206 0 1.106.059 1.393 1.209c.09.353.288 1.504.424 1.873c.134.413.683 1.238 1.268 1.238h3.572a.75.75 0 0 0 .13-.013a8.787 8.787 0 0 1-.813.952zm-9.914 2.28a.714.714 0 1 1-.3-1.396a.714.714 0 0 1 .3 1.396zM4.117 8.997a.714.714 0 1 1-1.303.58a.714.714 0 0 1 1.304-.58zm-.834 1.981l1.534-.682a.65.65 0 0 0 .33-.858l-.316-.715h1.244v5.602H3.567a8.775 8.775 0 0 1-.284-3.348zm6.734-.543V8.784h2.96c.153 0 1.08.177 1.08.87c0 .574-.712.78-1.296.78zm10.757 1.486c0 .219-.008.436-.024.651h-.9c-.09 0-.127.059-.127.148v.413c0 .973-.548 1.184-1.03 1.238c-.457.052-.964-.191-1.027-.472c-.27-1.518-.72-1.843-1.43-2.403c.882-.56 1.799-1.386 1.799-2.492c0-1.193-.82-1.945-1.377-2.315c-.783-.516-1.65-.62-1.883-.62H5.468a8.765 8.765 0 0 1 4.907-2.77l1.098 1.152a.648.648 0 0 0 .918.02l1.227-1.173a8.775 8.775 0 0 1 6.004 4.276l-.84 1.898a.652.652 0 0 0 .33.859l1.618.718c.028.288.042.577.042.872zm-9.3-9.6a.713.713 0 1 1 .984 1.032a.714.714 0 0 1-.984-1.031zm8.339 6.71a.71.71 0 0 1 .939-.362a.714.714 0 1 1-.94.364z"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 16 16" aria-hidden="true" focusable="false"><path fill="currentColor" d="M9.449 9.15a.283.283 0 0 1 .067.006l.003-.004l1.734.293a3.435 3.435 0 0 1-1.388 1.744l-.673-1.626l.002-.002a.294.294 0 0 1 .255-.41Zm-2.732.073a.294.294 0 0 1 .085.344l.005.006l-.666 1.61A3.448 3.448 0 0 1 4.757 9.45l1.72-.292l.002.004a.288.288 0 0 1 .238.06Zm1.433.681a.293.293 0 0 1 .108.113h.006l.848 1.532a3.443 3.443 0 0 1-2.218-.002l.845-1.529h.002a.293.293 0 0 1 .409-.114ZM9.633 7.63l1.3-1.163c.4.647.575 1.408.502 2.164l-1.684-.485l-.002-.007a.294.294 0 0 1-.115-.504V7.63Zm-1.067-.884a.294.294 0 0 1-.048-.149h-.002l-.099-1.744a3.46 3.46 0 0 1 1.995.961L8.99 6.824l-.005-.003a.294.294 0 0 1-.418-.075Zm-1.409.137a.294.294 0 0 1-.146-.055l-.003.001l-1.433-1.015a3.43 3.43 0 0 1 2.008-.961l-.1 1.746l-.007.004a.293.293 0 0 1-.319.28Zm-.775 1.185a.294.294 0 0 1-.135.08l-.001.005l-1.677.484a3.429 3.429 0 0 1 .487-2.17l1.308 1.17l-.002.006a.293.293 0 0 1 .02.425ZM8 8.893l-.483-.232l-.12-.519l.334-.416h.536l.333.417l-.12.519l-.48.231Z"/><path fill="currentColor" fill-rule="evenodd" d="m14.6 3.714l1.375 5.97a1.049 1.049 0 0 1-.04.595a1.041 1.041 0 0 1-.166.298l-3.85 4.789a1.05 1.05 0 0 1-.372.29c-.026.013-.054.024-.082.035a1.086 1.086 0 0 1-.377.071l-6.175.002a1.096 1.096 0 0 1-.778-.338l-.007-.007c-.016-.017-.032-.034-.047-.053L.231 10.58a1.101 1.101 0 0 1-.167-.3a1.067 1.067 0 0 1-.039-.593l1.373-5.971A1.073 1.073 0 0 1 1.973 3L7.537.341a1.072 1.072 0 0 1 .923 0l5.564 2.657a1.074 1.074 0 0 1 .576.716Zm-4.341 8.427a1.123 1.123 0 0 1-.056-.134a4.334 4.334 0 0 0 1.92-2.415l.142.025a.263.263 0 0 1 .186-.07c.2.039.394.096.581.172c.098.044.197.082.299.115l.053.012l.033.006l.007.002l.004.001a.334.334 0 1 0 .148-.649a1.946 1.946 0 0 1-.034-.008l-.063-.015a2.81 2.81 0 0 0-.319-.025a3.11 3.11 0 0 1-.597-.098a.374.374 0 0 1-.144-.145l-.134-.039a4.327 4.327 0 0 0-.694-2.997a10.898 10.898 0 0 1 .118-.106a.263.263 0 0 1 .063-.188c.153-.132.32-.249.495-.348c.095-.049.188-.103.277-.162a1.449 1.449 0 0 0 .073-.06a.334.334 0 1 0-.415-.52l-.02.016c-.018.014-.039.03-.053.043a2.746 2.746 0 0 0-.22.233c-.137.15-.287.286-.45.406a.37.37 0 0 1-.201.022l-.127.09A4.364 4.364 0 0 0 8.367 3.97a11.302 11.302 0 0 1-.008-.148a.265.265 0 0 1-.11-.167a3.12 3.12 0 0 1 .039-.604c.021-.105.036-.21.045-.317V2.64a.334.334 0 1 0-.666.01v.085c.009.107.024.212.045.317c.032.2.044.402.037.604a.363.363 0 0 1-.108.172l-.008.141a4.283 4.283 0 0 0-2.778 1.336a6.015 6.015 0 0 1-.12-.086a.263.263 0 0 1-.198-.019a3.107 3.107 0 0 1-.449-.406a2.78 2.78 0 0 0-.219-.232a1.792 1.792 0 0 0-.059-.048l-.015-.011a.397.397 0 0 0-.232-.088a.32.32 0 0 0-.265.118a.353.353 0 0 0 .082.49l.005.004l.018.015l.05.04c.09.06.182.114.277.162c.176.1.342.216.495.348a.37.37 0 0 1 .067.192l.107.095a4.31 4.31 0 0 0-.68 3.004l-.14.041a.46.46 0 0 1-.143.145a3.108 3.108 0 0 1-.596.098a2.78 2.78 0 0 0-.32.025a1.45 1.45 0 0 0-.062.015l-.027.006h-.003l-.005.002a.334.334 0 1 0 .148.649h.005l.005-.002h.002c.008-.003.016-.004.025-.006l.061-.014a2.71 2.71 0 0 0 .299-.115a3.12 3.12 0 0 1 .58-.17a.37.37 0 0 1 .192.067l.145-.025a4.334 4.334 0 0 0 1.92 2.398l-.06.145a.33.33 0 0 1 .03.188c-.084.19-.185.372-.302.542a2.773 2.773 0 0 0-.179.266l-.03.063l-.012.027a.334.334 0 1 0 .601.285v-.001a3.145 3.145 0 0 1 .042-.085c.038-.1.07-.201.096-.305c.057-.21.144-.412.258-.598a.27.27 0 0 1 .143-.07l.076-.137a4.31 4.31 0 0 0 3.073.008a10.147 10.147 0 0 1 .07.128a.26.26 0 0 1 .17.103a3.1 3.1 0 0 1 .23.56c.026.104.058.206.096.306l.03.063l.011.022a.333.333 0 0 0 .568.106a.335.335 0 0 0 .034-.39l-.012-.026l-.031-.064a2.774 2.774 0 0 0-.179-.266a3.098 3.098 0 0 1-.295-.528a.26.26 0 0 1 .026-.197Z" clip-rule="evenodd"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path fill="currentColor" d="M21.81 10.25c-.06-.04-.56-.43-1.64-.43c-.28 0-.56.03-.84.08c-.21-1.4-1.38-2.11-1.43-2.14l-.29-.17l-.18.27c-.24.36-.43.77-.51 1.19c-.2.8-.08 1.56.33 2.21c-.49.28-1.29.35-1.46.35H2.62c-.34 0-.62.28-.62.63c0 1.15.18 2.3.58 3.38c.45 1.19 1.13 2.07 2 2.61c.98.6 2.59.94 4.42.94c.79 0 1.61-.07 2.42-.22c1.12-.2 2.2-.59 3.19-1.16A8.3 8.3 0 0 0 16.78 16c1.05-1.17 1.67-2.5 2.12-3.65h.19c1.14 0 1.85-.46 2.24-.85c.26-.24.45-.53.59-.87l.08-.24l-.19-.14m-17.96.99h1.76c.08 0 .16-.07.16-.16V9.5c0-.08-.07-.16-.16-.16H3.85c-.09 0-.16.07-.16.16v1.58c.01.09.07.16.16.16m2.43 0h1.76c.08 0 .16-.07.16-.16V9.5c0-.08-.07-.16-.16-.16H6.28c-.09 0-.16.07-.16.16v1.58c.01.09.07.16.16.16m2.47 0h1.75c.1 0 .17-.07.17-.16V9.5c0-.08-.06-.16-.17-.16H8.75c-.08 0-.15.07-.15.16v1.58c0 .09.06.16.15.16m2.44 0h1.77c.08 0 .15-.07.15-.16V9.5c0-.08-.06-.16-.15-.16h-1.77c-.08 0-.15.07-.15.16v1.58c0 .09.07.16.15.16M6.28 9h1.76c.08 0 .16-.09.16-.18V7.25c0-.09-.07-.16-.16-.16H6.28c-.09 0-.16.06-.16.16v1.57c.01.09.07.18.16.18m2.47 0h1.75c.1 0 .17-.09.17-.18V7.25c0-.09-.06-.16-.17-.16H8.75c-.08 0-.15.06-.15.16v1.57c0 .09.06.18.15.18m2.44 0h1.77c.08 0 .15-.09.15-.18V7.25c0-.09-.07-.16-.15-.16h-1.77c-.08 0-.15.06-.15.16v1.57c0 .09.07.18.15.18m0-2.28h1.77c.08 0 .15-.07.15-.16V5c0-.1-.07-.17-.15-.17h-1.77c-.08 0-.15.06-.15.17v1.56c0 .08.07.16.15.16m2.46 4.52h1.76c.09 0 .16-.07.16-.16V9.5c0-.08-.07-.16-.16-.16h-1.76c-.08 0-.15.07-.15.16v1.58c0 .09.07.16.15.16"/></svg>
					</div>
			</div>
		</div>
		<div class="content-container">
			<div class="text-container">
				<h1><span class="text-gradient">My life</span> outside of work</span></h1>
				<p>
					Outside of my professional career, I love to enjoy the outdoors. Being in nature is therapeutic for me,
					and I love to hike and camp all over the country, especially in our great National Parks. Check out my blog
					to see some of the adventures I've been on! I also love to play hockey and stay physically active as much
					as possible.
				</p>
			</div>
			<img src="/acadia_vista_1.webp" alt="Brendan Rae at Acadia National Park" class="acadia-vista-img">
		</div>
	</main>
</MainLayout>

<style>
	main {
		animation: fadeInAnimation ease-in 0.4s;
		padding-top: 3rem;
		padding-left: 5rem;
		padding-right: 5rem;
		margin: auto;
		color: var(--text-color);
	}
	.content-container {
		display: flex;
		flex-direction: row;
		margin-bottom: 4rem;
		align-items: center;
	}
	.content-container > img {
		border-radius: 8px;
	}
	.text-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.text-container > h1 {
		font-size: 52px;
		font-weight: 700;
		line-height: 1;
	}
	.text-container > h1 > span {
		background-size: 400%;
	}
	.text-container > p {
		font-size: 24px;
		font-weight: 300;
		line-height: 1.6;
	}
	.profile-img {
		max-height: 600px;
		margin-right: 4rem;
	}
	.acadia-vista-img {
		max-height: 500px;
		margin-left: 4rem;
	}
	.centered {
		justify-content: center;
		align-items: center;
	}
	.svg-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 800px;
	}
	.svg-container > svg {
		padding: 1rem;
	}

	@keyframes fadeInAnimation {
		0% {
			padding-top: 80px;
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@media only screen and (max-width: 1000px) {
		main {
			text-align: center;
			overflow-y: hidden;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
        .content-container {
            flex-direction: column;
			justify-content: center;
			align-items: center;
        }
		.text-container {
			align-items: center;
		}
		.text-container > h1 {
			font-size: 40px;
		}
		.text-container > p {
			font-size: 20px;
			line-height: 1.6;
		}
		.profile-img {
			max-width: 300px;
			margin-right: 0rem;
			margin-bottom: 1rem;
		}
		.acadia-vista-img {
			max-width: 400px;
			margin-left: 0rem;
			margin-top: 1rem;
		}
    }
	@media (prefers-color-scheme: light) {
		.content-container > img {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
	}
</style>