---
import MainLayout from '../layouts/MainLayout.astro';
import NavHeader from '../components/NavHeader.astro';
---

<MainLayout title="Blog | Brendan Rae">
	<NavHeader />
	<main>
		<h1>Blog Works!</h1>
	</main>
</MainLayout>