---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Blog | Brendan Rae">
	<main>
		<h1>Blog coming soon!</h1>
	</main>
</MainLayout>

<style>
	h1 {
		text-align: center;
	}
</style>