---
import MainLayout from '../layouts/MainLayout.astro';
import NavHeader from '../components/NavHeader.astro';
---

<MainLayout title="Welcome to my website!">
	<NavHeader selected="home"></NavHeader>
	<main>
		<h1>Hi, I'm <span class="text-gradient">Brendan Rae</span></h1>
	</main>
</MainLayout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
