---
---
<div>
    <img class="profile-img" src="/Headshot2_cropped_circle.webp">
    <h3>Brendan Rae</h3>
    <ul>
        <p class="navTag" id="/">home</p>
        <p class="navTag" id="/about">about</p>
        <p class="navTag" id="/blog">blog</p>
    </ul>
</div>

<script>
    import { navigate } from "astro:transitions/client";

    const navTags = document.querySelectorAll('p.navTag');
    navTags.forEach((navTag) => {
        if (window.location.pathname == navTag.id) {
            navTag.classList.add('text-gradient');
        }
        navTag.addEventListener('click', () => {
            navigate(navTag.id);
        })
    })
</script>

<style>
    div {
        margin: auto;
		padding: 1rem;
        display: flex;
        flex-direction: row;
        color: var(--text-color);
        font-size: 22px;
        font-weight: 500;
		line-height: 1.6;
        align-items: center;
    }
    img {
        margin: atuo;
        justify-self: flex-start;
        padding: 1rem;
        border-radius: 50%;
        height: 60px;
        width: 60px;
    }
    ul {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }
    p {
        padding: 1.5rem;
        cursor: pointer;
        background-size: 400%;
    }
    @keyframes underline-fade-in {
        0% { width: 1rem; opacity: 0 }
        100% { width: 4rem; opacity: 1 }
    }
</style>