/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use './palette' as cp;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// General Classes

$linear-gradient: linear-gradient(to bottom right, #3B82F6, #6EE7B7);

@keyframes fadeIn {
    0% { margin-top: 20px; opacity: 0 }
    100% { margin-top: 0;  opacity: 1 }
}

@keyframes underlineFadeIn {
    0% { width: 1rem; opacity: 0 }
    100% { width: 4rem; opacity: 1 }
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.no-scroll-container {
    height: 100%;
    overflow: hidden;
}

.consolas {
    font-family: "Consolas"
}

.img-shadow {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.55);
}


// Top Bar + Navigation

.top-bar {
    height: 5rem;
    background-color: map.get(cp.$surface, 900);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top-bar-logo-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.top-bar-profile-img {
    border-radius: 50%;
    height: 3.5rem;
    margin-left: 2.5rem;
}

.tb-text {
    font-family: "Consolas"
}

.top-bar-logo-text {
    
    text-align: center;
    width: 10rem;
    font-size: 1.5rem;
    line-height: 3rem;
}

.nav-content {
    height: 100%;
    background-color: map.get(cp.$surface, 800);
}

.nav-component-container {
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.nav-component-box {
    display:flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 5rem; 
    width: 8rem; 
    cursor: pointer;
}

.nav-component-box:hover {
    background: $linear-gradient;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav-component-text {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.nav-component-selected {
    background: $linear-gradient;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.35rem;
    transition: font-size 0.5s ease-in;
}

.nav-component-selected-underline {
    background: $linear-gradient;
    margin-top: 5px;
    height: 3px;
    width: 4rem;
    animation: underlineFadeIn 0.25s;
}

.contact-me-box {
    background: $linear-gradient;
    width: 11rem;
    height: 3rem;
    margin-right: 2.5rem;
    text-align: center; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-me-box:hover {
    cursor: pointer;
    box-shadow: 0 1px 10px rgba(167, 166, 166, 0.55);
    transition: box-shadow 0.05s ease-in-out;
}

.contact-me-text {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 200;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.55);
}


// Home Component

.home-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
    overflow: auto;
}

.home-content {
    align-self: center;
    width: 70%;
}

.profile-img-container {
    height: 20rem;
}

.profile-img {
    height: 18rem;
    border-radius: 50%;
    border: 2px solid #1ac3da;
}

.home-title-box {
    display: flex;
    flex-direction: column;
    height: 6rem;
    width: 100%;
    justify-content: center;
}

.title { 
    background: $linear-gradient;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    height: 2.75rem;
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: 500;
}

.home-text {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 300;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.55);
}


// About Component

.about-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    animation: fadeIn 0.5s;
    overflow-y: auto;
    overflow-x: auto;
    align-items: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    width: 85%;

    li {
        font-size: 1.25rem;
        line-height: 1.875rem;
        font-weight: 300;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.55);
    }
}

.about-content-card {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: map.get(cp.$surface, 500);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.55);
    border-radius: 15px;
}

.about-content-card-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.about-content-card-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.about-content-card-content-section-divider {
    width: 2px;
    min-height: 100%;
    background: radial-gradient(white, black);
}

.about-content-card-text {
    width: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.about-content-card-header-box {
    align-self: center;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.sru-logo-img {
    height: 150px;
    width: 150px;
    background-color: white;
    border: 2px solid #1ac3da;
    border-radius: 50%;
    margin-right: 15px;
}

.omnicell-logo-img {
    height: 150px;
    width: 150px;
    background-color: white;
    border: 2px solid #1ac3da;
    border-radius: 50%;
}

.hiking-with-dad-img {
    height: 500px;
    border: 2px solid #1ac3da;
    border-radius: 15px;
}

.me-hiking-img {
    height: 500px;
    border: 2px solid #1ac3da;
    border-radius: 15px;
}


// Projects component

.projects-container {
    width: 100%;
    height: 100%;
    animation: fadeIn 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.projects-content {
    align-self: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.projects-title-box {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 100%;
    justify-content: center;
}

.project-cards-container {
    padding-left: 70px;
    padding-right: 70px;
    height: 35rem;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    overflow: auto;
    white-space: nowrap;
}

.project-card {
    cursor: pointer;
    background-color: map.get(cp.$surface, 500);
    height: 30rem;
    width: 23rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.55);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.project-card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.55);
}

.project-card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    text-align: center;
    background: $linear-gradient;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    height: 8rem;
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 400;
    word-break: normal;
    white-space: normal;
}

.project-card-img {
    border-radius: 50%;
    border: 2px solid #1ac3da;
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    margin-bottom: 2.5rem;
}

.project-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
}

.project-card-text {
    width: 80%;
    text-align: center;
    word-break: normal;
    white-space: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 200;
}


// Contact Me Dialog

.dialog-backdrop {
    filter: brightness(50%);
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.contact-me-dialog-box {
    height: 500px;
    width: 500px;
    background: map.get(cp.$surface, 500);
    border-radius: 15px;
}