/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nav-component {
    display:flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 5rem; 
    width: 100%; 
    cursor: pointer;
}

.nav-component-text {
    padding-top: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
