/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use './palette' as cp;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.mat-sidenav {
    width: 11rem;
}

.nav-component {
    display:flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 5rem; 
    width: 100%; 
    cursor: pointer;
}

.nav-component-container {
    height: 18rem;
    width: 100%;
}

.nav-component-text {
    padding-top: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.nav-component:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.55), 0 -1px 10px rgba(0,0,0,0.55);
    background-color: map.get(cp.$surface, 700);
    transition: box-shadow 0.15s ease-in-out;
}

.top-bar {
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    position: static;
    top: 0;
    background-image: linear-gradient(to bottom right, #3B82F6, #6EE7B7);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.top-bar-logo {
    font-family: "Consolas";
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding-left: 2.5rem;
    padding-top: 0.5rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-content {
    align-self: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.projects-content {
    align-self: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-content {
    align-self: center;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}
