---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Brendan Rae's portfolio website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 102, 159, 255;
		--accent-light: 204, 230, 255;
		--accent-dark: 0, 128, 255;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		color: var(--text-color);
		
	}
	@media (prefers-color-scheme: dark) {
		:root {
			--text-color: white;
		}
		html {
			background: #13151a;
		}
	}
	@media (prefers-color-scheme: light) {
		:root {
			--text-color: black;
		}
		html {
			background: white;
		}
	}
	html {
		font-family: system-ui, sans-serif;
	}
	body {
		margin: auto;
		width: 1300px;
		max-width: calc(100% - 2rem);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-position: 0%;
	}
</style>
